.article-tags {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  .tag {
    background: var(--color-background-1);
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 0.8em;
    @media (max-width: 500px) {
      padding: 4px 12px;
      border-radius: 4px;
      background: var(--color-background-3);
    }
  }
}
